/* CONFIGURAÇÃO GERAL */
body {
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;

}
h1 {
    margin-bottom: 5px;
}
h2 {
    margin-top: 40px;
}
.block {
    display: block;
    background-color: aliceblue;
    padding: 15px;
    margin: 5px;
    border: 2px solid blue;
}

/*2-INLINE: Ocupa só espaço do conteúdo*/
.inline {
    display: inline;
    background-color: brown;
    padding: 10px;
    border: 10px solid darkred;
}

/* 3.INLINE BLOCK: Ocupa só o espaço do contúdo, permite controlar o width e height */
.inline-block {
    display: inline-block;
    width: 120PX;
    height: 60PX;
    background-color: blueviolet;
    padding: 10px;
    margin: 5px;
    border: 2px solid greenyellow;
}