body {
/* background-color: #334027;    */
background-color: rgb(163, 191, 155, 0.5);
}
h1 {
    color: #202616;
    font-size: 50px;
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}  

p {
    font-size: 20px;
    /* Espaçamento entre linhas */
    line-height: 30px;
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-size: 2vw;
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}
span{
    font-size: 2em;
    color: red;
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}
/* px=pixels */
/* "em" O dobro do tamanho padrão, significa que ele é multiplicador do tamanho base */
/* 120% - 20% maior que o padrão */
/* 5vw - 5% da largura da tela / isso faz com que o tamanaho do texto se ajuste ao tamanho
da tela! MUITo útil para design responsivo */
/* Font-Weight contola a grossura (negrito) do texto:
100 = super fino
400 = normal
700 = negrito 
900 = super negrito */